In [1]:
!pip install mysql-connector-python
!pip install SQLAlchemy

Requirement already satisfied: mysql-connector-python in /home/sergiomess/anaconda3/lib/python3.8/site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in /home/sergiomess/anaconda3/lib/python3.8/site-packages (from mysql-connector-python) (3.20.0)
Requirement already satisfied: SQLAlchemy in /home/sergiomess/anaconda3/lib/python3.8/site-packages (1.3.20)

In [2]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in /home/sergiomess/anaconda3/lib/python3.8/site-packages (1.0.2)

In [3]:
import mysql.connector as conn
import pandas as pd
from sqlalchemy import create_engine

In [4]:
str_conn='mysql+pymysql://root:admin@localhost:3306'


motor=create_engine(str_conn)


motor.execute('create database proyectofinal1;')

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 111] Connection refused)")
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:

crea_db=conn.connect(host='localhost', user='root', passwd='admin')

cursor=crea_db.cursor()

cursor

In [21]:
db=conn.connect(host='localhost', user='root', passwd='admin',database="proyecto")
cursor=db.cursor()

In [22]:
cursor.execute('show databases;')

for x in cursor:
    print(x)

('apps',)
('apps1',)
('information_schema',)
('mysql',)
('performance_schema',)
('proyecto',)
('proyectofinal',)
('proyectofinal1',)
('publications',)
('sys',)

In [23]:
#me conecto a mi base de datos en particular

In [24]:
db=conn.connect(host='localhost', user='root', passwd='admin', database='proyecto')

cursor=db.cursor()

In [25]:

for i in range(len(df3)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('film', ','.join(df3.columns), tuple(df3.iloc[i].values))
    
    
    insert_query=f"insert into film ({','.join(df3.columns)}) values {tuple(df3.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'

In [ ]:
df3.info()

In [28]:
cursor.execute('drop table if exists film;')



tabla='''

        create table film (
            
            film_id int primary key,
            title varchar(50),
            description varchar(200),
            release_year int,
            language_id int,
            rental_duration int,
            rental_rate float,
             length int,
              replacement_cost float,
               rating varchar(50),
                special_features varchar(200)

            
        );

'''


cursor.execute(tabla)

DatabaseError: 3730 (HY000): Cannot drop table 'film' referenced by a foreign key constraint 'fk_film_has_actor_film' on table 'film_has_actor'.

# 1.ACTOR

In [ ]:

df1 = pd.read_csv('Data/actor.csv')
df1.head(2)

# 2.CATEGORY

In [ ]:
df2=pd.read_csv('Data/category.csv')
df2
df2["name"]

# 3.FILM

In [26]:
df3=pd.read_csv('Data/film.csv')
df3.head(2)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42

In [17]:
for i in range(len(df3.filtrado)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('df3.filtrado', ','.join(df3.filtrado.columns), tuple(df3.filtrado.iloc[i].values))
    
    
    insert_query=f"insert into proyecto ({','.join(df3.filtrado.columns)}) values {tuple(df3.filtrado.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

ProgrammingError: 1146 (42S02): Table 'proyecto.proyecto' doesn't exist

In [ ]:
df3.info() #hay una columna que es solo de nulos

In [27]:
df3.filtrado =df3.drop(['original_language_id'], axis=1)

df3.filtrado.head(2)

<ipython-input-27-e174e09f7020>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df3.filtrado =df3.drop(['original_language_id'], axis=1)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42

# 4.INVENTORY

In [ ]:
df4=pd.read_csv('Data/inventory.csv')
df4

# 5.LANGUAGE

In [ ]:
df5=pd.read_csv('Data/language.csv')
df5

# 6.RENTAL

In [ ]:
df6=pd.read_csv('Data/rental.csv')
df6

# 7.OLDhdd

In [ ]:
df7=pd.read_csv('Data/old_HDD.csv')
df7.head()

In [ ]:
df1.head(2)

# LIMPIEZA

In [ ]:
#Mergeamos la tabla de actores(df1) con old_HDD(df7) para poner id_actor
film_actor = df1.merge(df7, how='right', on=["first_name","last_name"])
film_actor.head()

In [ ]:
#Mergeamos film_actor con films (df3)

In [ ]:
film_actor = film_actor.merge(df3, how='left', on=["title","release_year"])
film_actor2 = film_actor[["actor_id", "film_id","category_id"]]
film_actor2

In [ ]:
film_actor2.columns = ['actor_actor_id','film_film_id',"category_category_id"]
film_actor2.columns

In [ ]:
cols=film_actor2.columns.tolist()
cols

In [ ]:
cols=cols[-1:]+cols[:-1]

In [ ]:
film_actor2=film_actor2[cols]

film_actor2.columns

In [5]:
film_actor2

NameError: name 'film_actor2' is not defined

In [6]:
df =film_actor2.reindex(columns=["film_film_id","actor_actor_id","category_category_id"])
df

NameError: name 'film_actor2' is not defined

In [10]:
df4=pd.read_csv('Data/inventory.csv')
df4.head(2)

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17

In [11]:
df4.columns

Index(['inventory_id', 'film_id', 'store_id', 'last_update'], dtype='object')